.filter-bar {
    width: 110rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
    background-color: #243340;
    color: #41B0AD;
  border-radius: 8px;
  margin: 50px;

  select {
    padding: 8px 12px;
    background-color: #243340;
    color: #41B0AD;
    border: 1px solid #444;
    border-radius: 6px;
    height: 2rem;
  }
}