<app-header></app-header>

  <div class="content">
<div class="actions">
  <ng-container *ngIf="!isLoggedIn(); else userIcon">
    <button class="login" routerLink="/login">Login</button>
    <button class="signup" routerLink="/signup">Sign-up</button>
  </ng-container>

  <ng-template #userIcon>
    <app-user></app-user>
  </ng-template>
</div>

    <div class="partition">
      <button></button>
      <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/watches']">Watches</a></li>
        <li><a [routerLink]="['/spectacles']">Spectacles</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>
      <div class="shop-page">
  <header class="shop-header">
    <h1>Luxury Collection</h1>
    <p>Discover fine craftsmanship & timeless elegance.</p>
  </header>
<app-filter-bar
  [brands]="brands"
  [genders]="genders"
  [prices]="prices"
  (filtersChanged)="applyFilters($event)">
</app-filter-bar>

  <div class="product-grid">
    <div class="product-card" [routerLink]="['/watches', item.id]" style="cursor: pointer;" *ngFor="let item of filteredProducts">
      <img [src]="'http://localhost:5296' + item.images" alt="{{ item.name }}" class="card-image" />
      <div class="card-info" >
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p style="color: #b3b3b3;">{{ item.price | currency: 'INR'}}</p>

      </div>
    </div>
  </div>
</div>

</div>
