<app-header></app-header>
<script></script>

<om-aurora>
  <div class="content">
    <div class="actions">
      <button class="login" [routerLink]="['/login']">Login</button>
      <button class="signup" [routerLink]="['/signup']">Sign-up</button>
    </div>

    <div class="partition">
      <button></button>
      <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/watches']">Watches</a></li>
        <li><a [routerLink]="['/spectacles']">Spectacles</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>
    <!-- <app-watch-carousel
      style="margin-top: 425rem; margin-bottom: 0; padding-bottom: 0"
    ></app-watch-carousel> -->
    <div class="shopnow">
      <img src="assets/watchbanner.jpeg" alt="">
      <button [routerLink]="['/watches/shop']">Shop Now</button>
    </div>
    <div class="templates">
      <div class="firstContext"><h1>-------------------Exclusive Collection------------------</h1></div>
      <div class="first-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/firstwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Featured------------------</h1></div>
      <div class="second-template">
        <img
          appIntersectionObserver="left"
          height="500px"
          src="assets/secondwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------On Sale------------------</h1></div>
      <div class="third-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/thirdwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Clearance------------------</h1></div>
      <div class="fourth-template">
        <img
          appIntersectionObserver="left"
          height="500px"
          src="assets/fourthwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Pocket-Friendly Collection------------------</h1></div>
      <div class="fifth-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/fifthwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Titan Collection------------------</h1></div>
      <div class="sixth-template">
        <img
          appIntersectionObserver="left"
          height="500px"
          src="assets/sixthwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="animate-up"
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------All Collection------------------</h1></div>
      <div class="eight-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/eightwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="trend-card">
              <img
                [src]="item.image"
                alt="{{ item.name }}"
                class="card-image"
              />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
    </div>
  </div>
</om-aurora>
