<app-header></app-header>
<script></script>


  <div class="content">
<div class="actions">
  <ng-container *ngIf="!isLoggedIn(); else userIcon">
    <button class="login" routerLink="/login">Login</button>
    <button class="signup" routerLink="/signup">Sign-up</button>
  </ng-container>

  <ng-template #userIcon>
    <app-user></app-user>
  </ng-template>
</div>

    <div class="partition">
      <button></button>
      <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/watches']">Watches</a></li>
        <li><a [routerLink]="['/spectacles']">Spectacles</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>

    <div class="shopnow">
      <img src="assets/watchbanner.jpeg" alt="">
      <button [routerLink]="['/watches/shop']">Shop Now</button>
    </div>
    <div class="templates">
      <div class="firstContext"><h1>-------------------Exclusive Collection------------------</h1></div>
      <div class="first-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/firstwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of premiumWatches">
            <div class="trend-card">
<img [src]="item.images[0]" alt="{{ item.name }}" class="card-image" />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Analog Watches------------------</h1></div>
      <div class="second-template">
        <img
          appIntersectionObserver="left"
          height="500px"
          src="assets/secondwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of analogWatches">
            <div class="trend-card">
              <img [src]="item.images[0]" alt="{{ item.name }}" class="card-image" />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Smart Watches------------------</h1></div>
      <div class="third-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/thirdwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of smartWatches">
            <div class="trend-card">
<img [src]="item.images[0]" alt="{{ item.name }}" class="card-image" />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
      <div class="firstContext"><h1>-------------------Sports Watches------------------</h1></div>
      <div class="fourth-template">
        <img
          appIntersectionObserver="left"
          height="500px"
          src="assets/fourthwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of sportsWatches">
            <div class="trend-card">
<img [src]="item.images[0]" alt="{{ item.name }}" class="card-image" />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>

      <div class="firstContext"><h1>-------------------All Watches------------------</h1></div>
      <div class="eight-template">
        <img
          appIntersectionObserver="right"
          height="500px"
          src="assets/eightwatch.jpg"
          alt=""
        />
        <div class="swiper-wrapper-animate" >
        <swiper-container
          class="trend-carousel"
          slides-per-view="4"
          navigation="true"
          loop="true"
          space-between="20"
        >
          <swiper-slide *ngFor="let item of allWatches">
            <div class="trend-card">
<img [src]="item.images[0]" alt="{{ item.name }}" class="card-image" />
              <h3>{{ item.name }}</h3>
              <a class="explore-link" [routerLink]="['/watches', item.id]">Explore</a>
            </div>
          </swiper-slide>
        </swiper-container>
        </div>
      </div>
    </div>
  </div>

