.about_image {
    margin-top: 80rem ;
    background-color: beige;
    height: 650px;
    width: 100rem;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin-left: 100px;
}

img {
    position: inherit;
}
