<div class="swiper-wrapper-container">
  <swiper-container
    slides-per-view="1"
    navigation="true"
    pagination="true"
    loop="true"
  >
    <swiper-slide><img src="assets/watch1.jpg" width="100%" height="100%" alt="Slide 1"></swiper-slide>
    <swiper-slide><img src="assets/watch2.jpg" width="100%" height="100%" alt="Slide 2"></swiper-slide>
    <swiper-slide><img src="assets/watch3.jpg" width="100%" height="100%" alt="Slide 3"></swiper-slide>
    <swiper-slide><img src="assets/eyewear1.jpg" width="100%" height="100%" alt="Slide 4"></swiper-slide>
    <swiper-slide><img src="assets/eyewear2.jpg" width="100%" height="100%" alt="Slide 5"></swiper-slide>
    <swiper-slide><img src="assets/eyewear3.jpg" width="100%" height="100%" alt="Slide 5"></swiper-slide>
  </swiper-container>
</div>

