

@import '../node_modules/swiper/swiper-bundle.min.css';
@import '../node_modules/swiper/swiper-bundle.min.css';



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
    overflow-y: auto;
    // background-color: #1e1e1e;
    // scroll-behavior: smooth;
        background-color: #243340;
    color: #41B0AD;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


@font-face {
    font-family: 'LoveStory';
    src: url(./assets/LoveStory.ttf);
    font-weight: normal;
    font-style: normal;
}